# Original XtalViewer environment; retained for forensic/reference use only.
AmberLite==16.0
AmberUtils==21.0
asn1crypto==0.24.0
cffi==1.9.1
chardet==3.0.4
cryptography==2.3
cycler==0.10.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
kiwisolver==1.3.1
matplotlib==3.3.4
MMPBSA.py==16.0
mpi4py==3.0.3
msgpack==1.0.2
msgpack-numpy==0.4.7.1
networkx==2.5.1
numpy==1.19.5
opencv-python==4.5.3.56
packmol-memgen==1.1.0rc0
ParmEd==3.4.1
pdb4amber==20.1
Pillow==8.3.1
ply==3.9
psutil==5.8.0
pycparser==2.14
pyMSMT==20.0
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PySocks==1.6.8
python-dateutil==2.8.2
pytraj==2.0.6
PyWavelets==1.1.1
rdkit-pypi==2021.3.4
requests==2.14.2
sander==16.0
scikit-image==0.17.2
scipy==1.5.4
six==1.16.0
tifffile==2020.9.3
tk==0.1.0
urllib3==1.25.6
